Options All -Indexes
RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

<IfModule mod_headers.c>
    Header always unset Cross-Origin-Opener-Policy
    Header always unset Cross-Origin-Embedder-Policy
</IfModule>



add_header Cross-Origin-Opener-Policy same-origin;
add_header Cross-Origin-Embedder-Policy require-corp;


